<div class="container">
  <mat-toolbar color="primary">
    <div class="container d-flex justify-content-between align-items-center">
      <span routerLink="/" style="cursor: pointer;">Todo Maker</span>
      <div class="d-flex icons" *ngIf="showMenu">
        <div class="d-flex align-items-center mx-2">
          <span routerLink="/login">Login</span>
          <mat-icon routerLink="/login">login</mat-icon>
        </div>
        |
        <div class="d-flex align-items-center mx-2">
          <span routerLink="/register">Register</span>
          <mat-icon routerLink="/register">how_to_reg</mat-icon>
        </div>
      </div>
      <div class="d-flex icons align-items-center" *ngIf="!showMenu">
        <div class="mx-2">
          <h3>Welcome, Tom</h3>
        </div>
        <div>
          <mat-icon routerLink="/register">exit_to_app</mat-icon>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <div class="container py-3">
    <router-outlet></router-outlet>
  </div>
</div>
